{
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier/react"],
  "parser": "babel-eslint",
  "rules": {
    "import/extensions": 0,
    "no-undef": 0,
    "react/jsx-filename-extension": 0,
    "no-unused-vars": 0
  }
}
