{
  "extends": ["airbnb-base", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": ["error", { "singleQuote": true, "parser": "flow" }],
    "import/extensions": 0,
    "no-undef": 0,
    "react/jsx-filename-extension": 0,
    "no-unused-vars": 0
  }
}
